a.a-btn {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2em 1em;
	grid-template-areas: "daftar-guru daftar-guru daftar-guru tambah-guru""tambah-siswa daftar-siswa daftar-siswa daftar-siswa""daftar-mapel-guru daftar-mapel-guru tambah-mapel tambah-mapel";
}


.daftar-guru {
	grid-area: daftar-guru;
}

.daftar-guru:hover {
  filter: contrast(120%);
  transition: ease-in-out 0.18s;
  transform: scale(1.03);
}
.tambah-guru {
	grid-area: tambah-guru;
}

.daftar-siswa {
	grid-area: daftar-siswa;
}

.tambah-siswa {
	grid-area: tambah-siswa;
}

.daftar-mapel-guru {
	grid-area: daftar-mapel-guru;
}

.tambah-mapel {
	grid-area: tambah-mapel;
}
